<?xml version="1.0" encoding="UTF-8"?>
<plugin
	id="eu.miaofang.wms.variability.config" name="WMS Variability Configuration Plugin"
	version="1.0" provider-name="Miao Fang"
	class=" eu.miaofang.md.plugin.FeatureEditor">
		<requires>
			<api version="1.0"/>
		</requires>
	<runtime>
		<library name="myplugin.jar"/>
	</runtime>
</plugin>